:hover{text-decoration:none !important;}
a{text-decoration:none !important;}
/* Space out content a bit */
body {
  padding-top: 70px;
  background: rgba(214, 214, 214, 0.890196);
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding: 0;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #888;
  border-top: 1px solid rgba(98, 97, 97, 1);
}

textarea{
  resize: none !important;
}

.navbar-header > .navbar-brand{
  color: white !important;
}
/* Customize container */


header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.bold{
  font-weight: bolder;
}
footer{
  position: relative;
  left: 10%;
  width: 80%;
}

.container-narrow > hr {
  margin: 30px 0;
}

.
 > tbody > tr > td{
 line-height: 36px !important;
}

.panel-heading{

}

.bootom-space{
    margin-bottom: 20px;
}

.border-top{
    border-top: solid 1px rgba(216, 216, 216, 0.6);
}
.border-left{
    border-left: solid 1px rgba(216, 216, 216, 0.6);
}
.border-right{
    border-right: solid 1px rgba(216, 216, 216, 0.6);
}
.border-bottom{
    border-bottom: solid 1px rgba(216, 216, 216, 0.6);
}

.show_white{
  background: white !important;
  color: black !important;
  cursor: default !important;
}

.modal-header{
  background-color: rgb(231, 231, 231);
  border-radius: 4px 4px 0 0;
}

.container{
  margin-bottom: 30px !important;
  background: white;
  border-radius: 5px;
  padding-bottom: 20px;
}

.breadcrumb {
  border: solid 1px #BBBBBB;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
   }
}

.center{
  position: relative !important;
  margin: 0 auto !important;
}

.dropdown-menu li{
  cursor: pointer;
}

.alert{
  display: none;
}

.pagination a{
  cursor: pointer;
}


.spinner {
  position: fixed;
  -webkit-animation: rotator 1.4s linear infinite;
  animation: rotator 1.4s linear infinite;
  bottom: 50px;
  right: 50px;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
.page-header h1 {
  font-size: 48px !important;
  margin-top: -20px;
  text-align: left;
}

.panel-body ul{
  list-style: none;
}
.panel-body > ul > li{
  width: calc(100% + 10px);
  display: table;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -25px;
}

.panel-body > ul > li > input{
  position: relative;
  float: none;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.panel-body > ul > li >  textarea{
  position: relative;
  float: none;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.panel-body > ul > li > ul{
  position: relative;
  color: red;
}

.panel-body > ul > li > select{
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.logo{
    top: 8px;
    position: relative;
    float: left;
    margin-right: 10px;
}

.box-shadow{
    box-shadow: 0 0 1px rgba(50,50,50,0.7);
}

.nav-stacked li{
    margin-bottom: 5px;
}


.nav-justified{
    margin-top: 10px;
}

.nav-justified>li>a {
    margin: 4px!important;
    background: rgb(218, 218, 218);
}

.logo{
    background: white;
    padding: 2px;
}
.errorlist{
  margin-left: 5%;
}
.errorlist > li{
  color: red;
  font-weight: bolder;
  padding-top: 15px;
}

.datepicker{
  padding-left: 15px;
  cursor: pointer !important;
  background: white !important;
}
