:hover{text-decoration:none !important;}
a{text-decoration:none !important;}
/* Space out content a bit */
body {
  padding-top: 70px;
  background: rgba(214, 214, 214, 0.890196);
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding: 0;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #888;
  border-top: 1px solid rgba(98, 97, 97, 1);
}

.navbar-brand,
.dropdown-toggle{
  color: white !important;
}
/* Customize container */


header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.bold{
  font-weight: bolder;
}
footer{
  position: relative;
  left: 10%;
  width: 80%;
}

.container-narrow > hr {
  margin: 30px 0;
}

.show_white{
  background: white !important;
  color: black !important;
  cursor: default !important;
}

.modal-header{
  background-color: rgb(231, 231, 231);
  border-radius: 4px 4px 0 0;
}

.container{
  margin-bottom: 30px !important;
  background: white;
  border-radius: 5px;
  padding-bottom: 20px;
}

.breadcrumb {
  border: solid 1px #BBBBBB;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
   }
}

.center{
  position: relative !important;
  margin: 0 auto !important;
}

.dropdown-menu li{
  cursor: pointer;
}

.alert{
  display: none;
}

.pagination a{
  cursor: pointer;
}


.spinner {
  position: fixed;
  -webkit-animation: rotator 1.4s linear infinite;
  animation: rotator 1.4s linear infinite;
  bottom: 50px;
  right: 50px;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
.page-header h1 {
  font-size: 48px !important;
  margin-top: -20px;
  text-align: left;
}

.panel-body ul{
  list-style: none;
}
.panel-body ul li{
  width: 100%;
  display: table;
  margin-top: 10px;
  margin-bottom: 10px;
}
.panel-body ul li label{
  text-align: right;
  float: left;
  margin-bottom: 0;
  padding-top: 7px;
  width: 10%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  font-weight: bold;
}

.panel-body ul li  input{
  display: block;
  width: 40%;
  position: relative;
  float: left;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.panel-body ul li ul{
  position: relative;

  color: red;
}
