{% extends "backend/base.html" %}
{% load staticfiles %}

{% block title %}Detalle - AlmacenProducto{% endblock title %}

{% block cssprivate %}
<link href="{% static 'gen/css/index.css' %}" rel="stylesheet">
<link href="{% static 'gen/css/almacen_producto_detallar.css' %}" rel="stylesheet">
{% endblock cssprivate %}
{% block jsprivate %}
<script src="{% static 'gen/js/almacen_producto_detallar.js' %}"></script>
{% endblock jsprivate %}

{% block content %}
    <div class="page-header">
        <h1 class="pull-left">AlmacenProducto <small>Detalle</small></h1>
        
        <div class="clearfix"></div>
    </div>
    <div class="row">
	    <div class="col-xs-2">
	        <ul class="nav nav-pills nav-stacked">
	        </ul>        
	    </div>
	    <div class="col-xs-10 border-left">
    	
		<div class="row">
		  <div class="col-md-7">
		  	
		  </div>
		  <div class="col-md-5">.
			<h1>Remito</h1>
			<p>Nº 0001 - 000001</p>
		  </div>
		</div>
		
		</div>
	</div>
{% endblock content %}

{% block modals %}
{% endblock modals %}
    