{% extends "backend/base.html" %}
{% load staticfiles %}

{% block title %}Formulario: AlmacenProducto
{% endblock title %}

{% block cssprivate %}
<link href="{% static 'backend/css/index.css' %}" rel="stylesheet">
<link href="{% static 'backend/css/almacen_producto_form.css' %}" rel="stylesheet">
<link href="{% static 'css/datepicker3.css' %}" rel="stylesheet">
{% endblock cssprivate %}
{% block jsprivate %}
<script src="{% static 'backend/js/almacen_producto_form.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/locales/bootstrap-datepicker.es.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>
{% endblock jsprivate %}

{% block content %}
    <div class="page-header">
        {% if object %}
            <h1 class="text-center">AlmacenProducto <small>Editar</small></h1>
        {% else %}
            <h1 class="text-center">AlmacenProducto <small>Crear</small></h1>
        {% endif %}
    </div>
    <div class="row">
	    <div class="col-xs-2">
	        <ul class="nav nav-pills nav-stacked">
	        </ul>        
	    </div>
	    <div class="col-xs-10 border-left">
		
		</div>
	</div>
{% endblock content %}
    