{% extends "backend/base.html" %}
{% load staticfiles %}

{% block title %}Detalle - Domicilio{% endblock title %}

{% block cssprivate %}
<link href="{% static 'backend/css/index.css' %}" rel="stylesheet">
<link href="{% static 'backend/css/domicilio_detallar.css' %}" rel="stylesheet">
{% endblock cssprivate %}
{% block jsprivate %}
<script src="{% static 'backend/js/domicilio_detallar.js' %}"></script>
{% endblock jsprivate %}

{% block content %}
    <div class="page-header">
        <h1 class="pull-left">Domicilio <small>Detalle</small></h1>
        
        <div class="clearfix"></div>
    </div>
    <div class="row">
	    <div class="col-xs-2">
	        <ul class="nav nav-pills nav-stacked">
	        </ul>        
	    </div>
	    <div class="col-xs-10 border-left">
	    	<div class="bootom-space">
	            <button type="button" class="btn btn-default volver">Volver</button>
	            <div class="btn-group pull-right" role="group">
	              
	               
	            </div>
	        </div>
			<div class="panel panel-primary">
			    <div class="panel-heading">
			        <h3 class="panel-title"> Domicilio</h3>
			    </div>
			    
			    <div class="table-responsive">
			        <table class="table table-condensed table-hover table-bordered">
			            <tbody>
							{% if object.calle %}
							<tr>
							{% else %}
							<tr class='warning'>
							{% endif %}
							    <td class="col-md-6"><strong>Calle</strong></td>
							    {% if object.calle %}
							    <td class="col-md-6">{{ object.calle }}</td>
							    {% else %}
							    
							    <td class="col-md-6">---</td>
							    
							    {% endif %}
							</tr>
							{% if object.numero %}
							<tr>
							{% else %}
							<tr class='warning'>
							{% endif %}
							    <td class="col-md-6"><strong>Número</strong></td>
							    {% if object.numero %}
							    <td class="col-md-6">{{ object.numero }}</td>
							    {% else %}
							    
							    <td class="col-md-6">0</td>
							    
							    {% endif %}
							</tr>
							{% if object.piso %}
							<tr>
							{% else %}
							<tr class='warning'>
							{% endif %}
							    <td class="col-md-6"><strong>Piso</strong></td>
							    {% if object.piso %}
							    <td class="col-md-6">{{ object.piso }}</td>
							    {% else %}
							    
							    <td class="col-md-6">0</td>
							    
							    {% endif %}
							</tr>
							{% if object.departamento %}
							<tr>
							{% else %}
							<tr class='warning'>
							{% endif %}
							    <td class="col-md-6"><strong>Departamento</strong></td>
							    {% if object.departamento %}
							    <td class="col-md-6">{{ object.departamento }}</td>
							    {% else %}
							    
							    <td class="col-md-6">0</td>
							    
							    {% endif %}
							</tr>
							{% if object.localidad %}
							<tr>
							{% else %}
							<tr class='warning'>
							{% endif %}
							    <td class="col-md-6"><strong>Localidad</strong></td>
							    {% if object.localidad %}
							    <td class="col-md-6">{{ object.localidad }}</td>
							    {% else %}
							    
							    <td class="col-md-6">---</td>
							    
							    {% endif %}
							</tr>
							{% if object.provincia %}
							<tr>
							{% else %}
							<tr class='warning'>
							{% endif %}
							    <td class="col-md-6"><strong>Provincia</strong></td>
							    {% if object.provincia %}
							    <td class="col-md-6">{{ object.provincia }}</td>
							    {% else %}
							    
							    <td class="col-md-6">---</td>
							    
							    {% endif %}
							</tr>

			            </tbody>
			        </table>
			    </div>
			</div>
			
			
			
		</div>
	</div>
{% endblock content %}

{% block modals %}
{% endblock modals %}
    