{% extends "backend/base.html" %}
{% load staticfiles %}

{% block title %}Detalle - Empresa{% endblock title %}

{% block cssprivate %}
<link href="{% static 'backend/css/index.css' %}" rel="stylesheet">
<link href="{% static 'backend/css/empresa_detallar.css' %}" rel="stylesheet">
{% endblock cssprivate %}
{% block jsprivate %}
<script src="{% static 'backend/js/empresa_detallar.js' %}"></script>
{% endblock jsprivate %}

{% block content %}
    <div class="page-header">
        <h1 class="pull-left">Empresa <small>Detalle</small></h1>
        
        <div class="clearfix"></div>
    </div>
    <div class="row">
	    <div class="col-xs-2">
	        <ul class="nav nav-pills nav-stacked">
			    <li role="presentation" class="box-shadow"><a href="{% url 'gen:empresa_detallar' %}">Empresa</a></li>
	        </ul>        
	    </div>
	    <div class="col-xs-10 border-left">
	    	<div class="bootom-space">
	            <button type="button" class="btn btn-default volver">Volver</button>
	            <div class="btn-group pull-right" role="group">
	              
	                <a href="{% url 'gen:empresa_editar' object.pk %}"
	                   class="btn btn-primary" title="Editar"><span class="glyphicon glyphicon-pencil"></span></a>
	               
	               
	            </div>
	        </div>
			<div class="panel panel-primary">
			    <div class="panel-heading">
			        <h3 class="panel-title"> Empresa</h3>
			    </div>
			    
			    <div class="table-responsive">
			        <table class="table table-condensed table-hover table-bordered">
			            <tbody>
							{% if object.nombre %}
							<tr>
							{% else %}
							<tr class='warning'>
							{% endif %}
							    <td class="col-md-6"><strong>Nombre</strong></td>
							    {% if object.nombre %}
							    <td class="col-md-6">{{ object.nombre }}</td>
							    {% else %}
							    
							    <td class="col-md-6">---</td>
							    
							    {% endif %}
							</tr>
							{% if object.lema %}
							<tr>
							{% else %}
							<tr class='warning'>
							{% endif %}
							    <td class="col-md-6"><strong>Lema</strong></td>
							    {% if object.lema %}
							    <td class="col-md-6">{{ object.lema }}</td>
							    {% else %}
							    
							    <td class="col-md-6">---</td>
							    
							    {% endif %}
							</tr>
							{% if object.descripcion %}
							<tr>
							{% else %}
							<tr class='warning'>
							{% endif %}
							    <td class="col-md-6"><strong>Descripción</strong></td>
							    {% if object.descripcion %}
							    <td class="col-md-6">{{ object.descripcion }}</td>
							    {% else %}
							    
							    <td class="col-md-6">0</td>
							    
							    {% endif %}
							</tr>
							{% if object.teleono %}
							<tr>
							{% else %}
							<tr class='warning'>
							{% endif %}
							    <td class="col-md-6"><strong>Telefono</strong></td>
							    {% if object.teleono %}
							    <td class="col-md-6">{{ object.teleono }}</td>
							    {% else %}
							    
							    <td class="col-md-6">0</td>
							    
							    {% endif %}
							</tr>
							{% if object.email %}
							<tr>
							{% else %}
							<tr class='warning'>
							{% endif %}
							    <td class="col-md-6"><strong>E-mail</strong></td>
							    {% if object.email %}
							    <td class="col-md-6">{{ object.email }}</td>
							    {% else %}
							    
							    <td class="col-md-6">0</td>
							    
							    {% endif %}
							</tr>

			            </tbody>
			        </table>
			    </div>
			</div>
			
			<div class="panel panel-primary">
			    <div class="panel-heading">
			        <h3 class="panel-title"> Domicilio</h3>
			    </div>
			    
			    <div class="table-responsive">
			        <table class="table table-condensed table-hover table-bordered">
			            <tbody>
	
							<tr>
							    <td class="col-md-6"><strong>Calle</strong></td>
							    {% if object.domicilio.calle %}
							    <td class="col-md-6">{{ object.domicilio.calle }}</td>
							    {% else %}
							    
							    <td class="col-md-6">---</td>
							    
							    {% endif %}
							</tr>
	
							<tr>
							    <td class="col-md-6"><strong>Número</strong></td>
							    {% if object.domicilio.numero %}
							    <td class="col-md-6">{{ object.domicilio.numero }}</td>
							    {% else %}
							    
							    <td class="col-md-6">0</td>
							    
							    {% endif %}
							</tr>
	
							<tr>
							    <td class="col-md-6"><strong>Piso</strong></td>
							    {% if object.domicilio.piso %}
							    <td class="col-md-6">{{ object.domicilio.piso }}</td>
							    {% else %}
							    
							    <td class="col-md-6">0</td>
							    
							    {% endif %}
							</tr>
	
							<tr>
							    <td class="col-md-6"><strong>Departamento</strong></td>
							    {% if object.domicilio.departamento %}
							    <td class="col-md-6">{{ object.domicilio.departamento }}</td>
							    {% else %}
							    
							    <td class="col-md-6">0</td>
							    
							    {% endif %}
							</tr>
	
							<tr>
							    <td class="col-md-6"><strong>Localidad</strong></td>
							    {% if object.domicilio.localidad %}
							    <td class="col-md-6">{{ object.domicilio.localidad }}</td>
							    {% else %}
							    
							    <td class="col-md-6">---</td>
							    
							    {% endif %}
							</tr>
	
							<tr>
							    <td class="col-md-6"><strong>Provincia</strong></td>
							    {% if object.domicilio.provincia %}
							    <td class="col-md-6">{{ object.domicilio.provincia }}</td>
							    {% else %}
							    
							    <td class="col-md-6">---</td>
							    
							    {% endif %}
							</tr>
	 
							

			            </tbody>
			        </table>
			    </div>
			</div>

			
		
		</div>
	</div>
{% endblock content %}

{% block modals %}
{% endblock modals %}
    