{% extends "backend/base.html" %}
{% load staticfiles %}

{% block title %}Detalle - Pedido de Venta{% endblock title %}

{% block cssprivate %}
<link href="{% static 'gen/css/index.css' %}" rel="stylesheet">
<link href="{% static 'gen/css/pedido_detallar.css' %}" rel="stylesheet">
{% endblock cssprivate %}
{% block jsprivate %}
<script src="{% static 'gen/js/pedido_detallar.js' %}"></script>
{% endblock jsprivate %}

{% block content %}
    <div class="page-header">
        <h1 class="pull-left">Pedido de Venta <small>Detalle</small></h1>
        
        <div class="clearfix"></div>
    </div>
    <div class="row">
	    <div class="col-xs-2">
	        <ul class="nav nav-pills nav-stacked">
				<li role="presentation" class="box-shadow"><a href="{% url 'gen:cliente_listar' %}" ">Clientes</a></li>
				<li role="presentation" class="box-shadow"><a href="{% url 'gen:pedido_listar' %}" ">Pedidos de Ventas</a></li>
				<li role="presentation" class="box-shadow"><a href="{% url 'gen:venta_listar' %}" ">Ventas</a></li>
	        </ul>        
	    </div>
	    <div class="col-xs-10 border-left">
    	
		<div class="row">
		  <div class="col-md-7">
		  	
		  </div>
		  <div class="col-md-5">.
			<h1>Remito</h1>
			<p>Nº 0001 - 000001</p>
		  </div>
		</div>
		
		</div>
	</div>
{% endblock content %}

{% block modals %}
<div class="modal fade" id="modal-eliminar" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2 align="center">¿Realmente desea eliminar este objeto?</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <a href="{% url 'gen:pedido_eliminar' object.pk %}"
                   id="confirmar-eliminar" class=" btn btn-danger" role="button">Aceptar
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock modals %}
    