{% extends "backend/base.html" %}
{% load staticfiles %}

{% block title %}Formulario: Pedido de Venta
{% endblock title %}

{% block cssprivate %}
<link href="{% static 'backend/css/index.css' %}" rel="stylesheet">
<link href="{% static 'backend/css/pedido_form.css' %}" rel="stylesheet">
<link href="{% static 'css/datepicker3.css' %}" rel="stylesheet">
{% endblock cssprivate %}
{% block jsprivate %}
<script src="{% static 'backend/js/pedido_form.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/locales/bootstrap-datepicker.es.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>
{% endblock jsprivate %}

{% block content %}
    <div class="page-header">
        {% if object %}
            <h1 class="text-center">Pedido de Venta <small>Editar</small></h1>
        {% else %}
            <h1 class="text-center">Pedido de Venta <small>Crear</small></h1>
        {% endif %}
    </div>
    <div class="row">
	    <div class="col-xs-2">
	        <ul class="nav nav-pills nav-stacked">
				<li role="presentation" class="box-shadow"><a href="{% url 'gen:cliente_listar' %}">Clientes</a></li>
				<li role="presentation" class="box-shadow"><a href="{% url 'gen:pedido_listar' %}">Pedidos de Ventas</a></li>
				<li role="presentation" class="box-shadow"><a href="{% url 'gen:venta_listar' %}">Ventas</a></li>
	        </ul>        
	    </div>
	    <div class="col-xs-10 border-left">
		
	    	<form action='' method='POST' role='form'>
	    	{% csrf_token %}
	    	<div class="bootom-space">
	            <button type="submit" class="btn btn-primary">Guardar</button>
		        <button type="button" class="btn btn-default volver">Volver</button>
	        </div>
    		<div class="row" style="margin-bottom: 15px;">
    		  <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="row">
              <img src="/static/img/logo.png" class="img-thumbnail img-rounded col-md-2 hidden-sm hidden-xs" style="left: 10px;">
              <div class="col-md-10 col-sm-12 col-xs-12" style="margin-top: -24px">
                <h1 class="center-xs small-h1"> {{empresa.nombre}} </h1>
                <h6 class="hidden-xs text-center lema"> "{{ empresa.lema }}" </h6>
              </div>
            </div>
            <div class"row">
              <div class="col-md-5 col-sm-5 col-xs-12 text-right center-xs"><small>Telefono: {{empresa.telefono}}</small></div>
              <div class="col-md-2 col-sm-2 hidden-xs text-center"> - </div>
              <div class="col-md-5 col-sm-5 hidden-xs text-left center-xs"><small>E-Mail: {{empresa.email}}</small></div>
            </div>
    		  </div>
          <div class="col-md-2 col-sm-2 col-xs-2"><span class="tipo-factura">X</span></div>
    		  <div class="col-md-4 col-sm-4 col-xs-4 text-center">
      			<h3 style="margin-top: 0;">Remito</h3>
      			<p>Nº 0001 - <span id="numero_factura">{{object.pk}}</span></p>
	            <div class"row">
	              <div class="col-md-4 col-sm-12 col-xs-12">
	                <h3 class="label_fecha"><strong>Fecha:</strong></h3>
	              </div>
	              <div class="col-md-8 col-sm-12 col-xs-12 text-right">
	                {{form.fecha}}
	              </div>
	            </div>
    		  </div>
		  </div>
		  <div class="divisor"></div>
	  	  {{form.cliente}}
	      <div class="row descripcion">
	        <div class="panel panel-default descripcion_contenido">
	          <div class="panel-heading">
	            <h3 class="panel-title">Cliente</h3>
	            <div class="btn-group pull-right" role="group">
	                <button type="button" id="btn_show_modal_clientes" class="btn btn-default" data-toggle="modal" title="Seleccionar Cliente">
		                <span class="glyphicon glyphicon-search"></span> Seleccionar
	                </button>
	            </div>
	          </div>
	          <div class="panel-body">
	            <div class="row">
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                <strong>Nombre:</strong>
	              </div>
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                <span id="cliente_nombre">{{object.cliente.nombre}}</span>
	              </div>
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                <strong>Apellido:</strong>
	              </div>
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                <span id="cliente_apellido">{{object.cliente.apellido}}</span>
	              </div>
	            </div>
	            <div class="row descripcion_elemento">
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                <strong>Telefono:</strong>
	              </div>
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                <span id="cliente_telefono">{{object.cliente.telefono}}</span>
	              </div>
	              <div class="col-md-3 col-sm-3 col-xs-6"></div>
	              <div class="col-md-3 col-sm-3 col-xs-6"></div>
	            </div>
	          </div>
	        </div>
	      </div>
	      <div class="divisor"></div>
	      {{form.domicilio}}
	      <div class="row descripcion">
	        <div class="panel panel-default descripcion_contenido">
	          <div class="panel-heading">
	            <h3 class="panel-title">Domicilio</h3>
	            <div class="pull-right" role="group">
	            	<button type="button"  class="btn btn-default" id="use_domicilio_cliente"  title="Domicilio Cliente">
		                Usar Domicilio Cliente
	                </button>
	                <button type="button"  class="btn btn-default" title="Nuevo Domicilio" id="btn-modal-new-direccion">
		                <span class="glyphicon glyphicon-plus"></span> Nuevo Domicilio
	                </button>
	            </div>
	          </div>
	          <div class="panel-body">
	            <div class="row">
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                <strong>Calle:</strong>
	              </div>
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                <span id="domicilio_calle">{{object.domicilio.calle}}</span>
	              </div>
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                <strong>Número:</strong>
	              </div>
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                <span id="domicilio_numero">{{object.domicilio.numero}}</span>
	              </div>
	            </div>
	            <div class="row descripcion_elemento" id="row_domicilio_piso_departamento">
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                <strong>Piso:</strong>
	              </div>
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                <span id="domicilio_piso">{{object.domicilio.piso}}</span>
	              </div>
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                <strong>Departamento:</strong>
	              </div>
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                <span id="domicilio_departamento">{{object.domicilio.departamento}}</span>
	              </div>
	            </div>
	            <div class="row descripcion_elemento">
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                <strong>Localidad:</strong>
	              </div>
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                <span id="domicilio_localidad">{{object.domicilio.localidad}}</span>
	              </div>
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                <strong>Provincia:</strong>
	              </div>
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                <span id="domicilio_provincia">{{object.domicilio.provincia}}</span>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	      <div class="divisor"></div>
	      <div class="row descripcion">
          <div class="table-responsive col-md-12 col-sm-12 col-xs-12">
            <table class="table table-bordered table-hover table-detalle">
              <thead>
                <tr class="active">
                  <th>Cantidad</th>
                  <th>Producto</th>
                  <th>Precion Unitario</th>
                  <th>Precio</th>
                </tr>
              </thead>
              <tbody>
                {% if detalles %}
                {% for detalle in detalles %}
                <tr>
                  <td>{{detalle.cantidad}}</td>
                  <td>{{detalle.producto}}</td>
                  <td>{{detalle.precio.precio}}</td>
                  <td></td>
                </tr>
                {% endfor %}
                {% else %}
                  <tr><td colspan="4" class="text-center">No hay registros</td></tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="divisor"></div>
        <div class="row last-descripcion">
          <div class="col-md-3 col-md-offset-6 col-sm-3 col-sm-offset-6 col-xs-3 col-xs-offset-6 text-right">
            <h5><strong>Total:</strong></h5>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              {{form.total}}
            </div>
          </div>
        </div>
        <div class="divisor"></div>
        <div class="row last-descripcion">
          <button type="submit" class="btn btn-primary">Guardar</button>
	      <button type="button" class="btn btn-default volver">Volver</button>
        </div>
        </form>
	    
		</div>
	</div>
{% endblock content %}

{% block modals %}
<!-- Modal -->
<div class="modal fade" id="modal-select-cliente" tabindex="-1" role="dialog" aria-labelledby="Seleccionar Cliente" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Seleccionar Cliente</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="form-group">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label class="label-height">Nombre:</label>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <input type="text" id="buscar_cliente_nombre" class="form-control" placeholder="Nombre">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 bug-modal-label">
              <label class="label-height">Apellido:</label>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 bug-modal-element">
              <input type="text" id="buscar_cliente_apellido" class="form-control" placeholder="Apellido">
            </div>
          </div>
        </div>
        <div class="row" style="margin-top:10px;">
          <div class="col-md-3 col-md-offset-6 col-sm-6 col-xs-6">
            <button type="button" class="btn btn-default btn-block" id="find_all_clientes">Limpiar Búsqueda</button>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <button type="button" id="find_clientes" class="btn btn-info btn-block">Buscar</button>
          </div>
        </div>
        <div class="divisor"></div>
        <ul class="list-group listado-modal" id="listado_clientes">
          
        </ul>
      </div>
      <div class="modal-footer">
      	<svg class="spinner_modal" style="display:none;" width="34px" height="34px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="path" fill="none" stroke-width="3" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="seleccionar_cliente_modal" >Seleccionar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="modal-new-direccion">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Nuevo Domicilio</h4>
      </div>
      <form class="form-horizontal" id="nuevo_domicilio" role="form" action="" method="POST">
      {% csrf_token %} 
      <div class="modal-body">
		  <div class="row">
		    <strong><span class="control-label col-md-3 col-sm-3 ">Calle:</span></strong>
		    <div class="col-md-8 col-sm-8 col-xs-12">
		      <input type="text" class="form-control" name="calle" placeholder="Calle" required>
		    </div>
		  </div>
		  <div class="row" style="margin-top: 10px;">
		    <strong><span class="control-label col-md-3 col-sm-3 ">Número:</span></strong>
		    <div class="col-md-8 col-sm-8 col-xs-12">
		      <input type="number" step="1" min="0" class="form-control" name="numero" placeholder="Número" required>
		    </div>
		  </div>
		  <div class="row" style="margin-top: 10px;">
		    <strong><span class="control-label col-md-3 col-sm-3 ">Piso:</span></strong>
		    <div class="col-md-8 col-sm-8 col-xs-12">
		      <input type="number" step="1" min="0" class="form-control" name="piso" placeholder="Piso" required>
		    </div>
		  </div>
		  <div class="row" style="margin-top: 10px;">
		    <strong><span class="control-label col-md-3 col-sm-3 ">Departamento:</span></strong>
		    <div class="col-md-8 col-sm-8 col-xs-12">
		      <input type="number" step="1" min="0" class="form-control" name="departamento" placeholder="Departamento" required>
		    </div>
		  </div>
		  <div class="row" style="margin-top: 10px;">
		    <strong><span class="control-label col-md-3 col-sm-3 ">Localidad:</span></strong>
		    <div class="col-md-8 col-sm-8 col-xs-12">
		      <input type="text" class="form-control" name="localidad" placeholder="Localidad" required>
		    </div>
		  </div>
		  <div class="row" style="margin-top: 10px;">
		    <strong><span class="control-label col-md-3 col-sm-3 ">Provincia:</span></strong>
		    <div class="col-md-8 col-sm-8 col-xs-12">
		      <input type="text" class="form-control" name="provincia" placeholder="Provincia" required>
		    </div>
		  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary" id="guardar_nuevo_domicilio">Guardar</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock modals %}

    