{% extends "backend/base.html" %}
{% load staticfiles %}

{% block title %}Detalle - Pedido de Venta{% endblock title %}

{% block cssprivate %}
<link href="{% static 'backend/css/index.css' %}" rel="stylesheet">
<link href="{% static 'backend/css/pedido_detallar.css' %}" rel="stylesheet">
{% endblock cssprivate %}
{% block jsprivate %}
<script src="{% static 'backend/js/pedido_detallar.js' %}"></script>
{% endblock jsprivate %}

{% block content %}
    <div class="page-header">
        <h1 class="pull-left">Pedido de Venta <small>Detalle</small></h1>
        
        <div class="clearfix"></div>
    </div>
    <div class="row">
	    <div class="col-xs-2">
	        <ul class="nav nav-pills nav-stacked">
				<li role="presentation" class="box-shadow"><a href="{% url 'gen:cliente_listar' %}">Clientes</a></li>
				<li role="presentation" class="box-shadow"><a href="{% url 'gen:pedido_listar' %}">Pedidos de Ventas</a></li>
				<li role="presentation" class="box-shadow"><a href="{% url 'gen:venta_listar' %}">Ventas</a></li>
	        </ul>        
	    </div>
	    <div class="col-xs-10 border-left">
    		<div class="row">
    		  <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="row">
              <img src="/static/img/logo.png" class="img-thumbnail img-rounded col-md-2 hidden-sm hidden-xs" style="left: 10px;">
              <div class="col-md-10 col-sm-12 col-xs-12" style="margin-top: -24px">
                <h1 class="center-xs small-h1"> {{empresa.nombre}} </h1>
                <h6 class="hidden-xs text-center lema"> "{{ empresa.lema }}" </h6>
              </div>
            </div>
            <div class"row">
              <div class="col-md-5 col-sm-5 col-xs-12 text-right center-xs"><small>Telefono: {{empresa.telefono}}</small></div>
              <div class="col-md-2 col-sm-2 hidden-xs text-center"> - </div>
              <div class="col-md-5 col-sm-5 hidden-xs text-left center-xs"><small>E-Mail: {{empresa.email}}</small></div>
            </div>
    		  </div>
          <div class="col-md-2 col-sm-2 col-xs-2"><span class="tipo-factura">X</span></div>
    		  <div class="col-md-4 col-sm-4 col-xs-4 text-center">
      			<h3 style="margin-top: 0;">Remito</h3>
      			<p>Nº 0001 - <span id="numero_factura">{{object.pk}}</span></p>
            <p class="fecha">Fecha: <span class="fecha_day">{{object.fecha.day}}</span><span class="fecha_month">{{object.fecha.month}}</span><span class="fecha_year">{{object.fecha.year}}</span></p>
    		  </div>
		  </div>
		  <div class="divisor"></div>
	      <div class="row descripcion">
	        <div class="panel panel-default descripcion_contenido">
	          <div class="panel-heading">
	            <h3 class="panel-title">Cliente</h3>
	          </div>
	          <div class="panel-body">
	            <div class="row">
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                <strong>Nombre:</strong>
	              </div>
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                {{object.cliente.nombre}}
	              </div>
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                <strong>Apellido:</strong>
	              </div>
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                {{object.cliente.apellido}}
	              </div>
	            </div>
	            <div class="row descipcion_elemento">
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                <strong>Telefono:</strong>
	              </div>
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                {{object.cliente.telefono}}
	              </div>
	              <div class="col-md-3 col-sm-3 col-xs-6"></div>
	              <div class="col-md-3 col-sm-3 col-xs-6"></div>
	            </div>
	          </div>
	        </div>
	      </div>
	      <div class="divisor"></div>
	      <div class="row descripcion">
	        <div class="panel panel-default descripcion_contenido">
	          <div class="panel-heading">
	            <h3 class="panel-title">Domicilio</h3>
	          </div>
	          <div class="panel-body">
	            <div class="row">
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                <strong>Calle:</strong>
	              </div>
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                {{object.domicilio.calle}}
	              </div>
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                <strong>Número:</strong>
	              </div>
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                {{object.domicilio.numero}}
	              </div>
	            </div>
	            {% if object.domicilio.piso > 0 %}
	            <div class="row descipcion_elemento">
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                <strong>Piso:</strong>
	              </div>
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                {{object.domicilio.piso}}
	              </div>
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                <strong>Departamento:</strong>
	              </div>
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                {{object.domicilio.departamento}}
	              </div>
	            </div>
	            {% endif %}
	            <div class="row descipcion_elemento">
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                <strong>Localidad:</strong>
	              </div>
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                {{object.domicilio.localidad}}
	              </div>
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                <strong>Provincia:</strong>
	              </div>
	              <div class="col-md-3 col-sm-3 col-xs-6">
	                {{object.domicilio.provincia}}
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	      <div class="divisor"></div>
	      <div class="row descripcion">
          <div class="table-responsive col-md-12 col-sm-12 col-xs-12">
            <table class="table table-bordered table-hover table-detalle">
              <thead>
                <tr class="active">
                  <th>Cantidad</th>
                  <th>Producto</th>
                  <th>Precion Unitario</th>
                  <th>Precio</th>
                </tr>
              </thead>
              <tbody>
                {% if detalles %}
                {% for detalle in detalles %}
                <tr>
                  <td>{{detalle.cantidad}}</td>
                  <td>{{detalle.producto}}</td>
                  <td>{{detalle.precio.precio}}</td>
                  <td></td>
                </tr>
                {% endfor %}
                {% else %}
                  <tr><td colspan="4" class="text-center">No hay registros</td></tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="divisor"></div>
        <div class="row last-descripcion">
          <div class="col-md-3 col-md-offset-6 col-sm-3 col-sm-offset-6 col-xs-3 col-xs-offset-6 text-right">
            <h5><strong>Total:</strong></h5>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <h5 id="total">$ 00.00</h5>
          </div>
        </div>
		</div>
	</div>
{% endblock content %}

{% block modals %}
<div class="modal fade" id="modal-eliminar" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2 align="center">¿Realmente desea eliminar este objeto?</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <a href="{% url 'gen:pedido_eliminar' object.pk %}"
                   id="confirmar-eliminar" class=" btn btn-danger" role="button">Aceptar
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock modals %}
    