{% extends "backend/base.html" %}
{% load staticfiles %}

{% block title %}Formulario: Venta
{% endblock title %}

{% block cssprivate %}
<link href="{% static 'backend/css/index.css' %}" rel="stylesheet">
<link href="{% static 'backend/css/venta_form.css' %}" rel="stylesheet">
<link href="{% static 'css/datepicker3.css' %}" rel="stylesheet">
{% endblock cssprivate %}
{% block jsprivate %}
<script src="{% static 'backend/js/venta_form.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/locales/bootstrap-datepicker.es.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>
{% endblock jsprivate %}

{% block content %}
    <div class="page-header">
        {% if object %}
            <h1 class="text-center">Venta <small>Editar</small></h1>
        {% else %}
            <h1 class="text-center">Venta <small>Crear</small></h1>
        {% endif %}
    </div>
    <div class="row">
	    <div class="col-xs-2">
	        <ul class="nav nav-pills nav-stacked">
				<li role="presentation" class="box-shadow"><a href="{% url 'gen:cliente_listar' %}" ">Clientes</a></li>
				<li role="presentation" class="box-shadow"><a href="{% url 'gen:pedido_listar' %}" ">Pedidos de Ventas</a></li>
				<li role="presentation" class="box-shadow"><a href="{% url 'gen:venta_listar' %}" ">Ventas</a></li>
	        </ul>        
	    </div>
	    <div class="col-xs-10 border-left">
		
	     {{empresa}}
	    
		</div>
	</div>
{% endblock content %}
    