{% extends "backend/index.html" %}
{% load staticfiles %}

{% block title %}
Ventas
{% endblock title %}

{% block cssprivate %}
<link href="{% static 'gen/css/index.css' %}" rel="stylesheet">
<link href="{% static 'gen/css/index_ventas.css' %}" rel="stylesheet">
{% endblock cssprivate %}

{% block jsprivate %}
<script src="{% static 'gen/js/index_ventas.js' %}"></script>
{% endblock jsprivate %}

{% block content %}
<div class="page-header">
    <h1>Ventas</h1>
</div>
<div class="row">
    <div class="col-xs-2">
        <ul class="nav nav-pills nav-stacked">
				<li role="presentation" class="box-shadow"><a href="{% url 'gen:cliente_listar' %}" ">Cliente</a></li>
				<li role="presentation" class="box-shadow"><a href="{% url 'gen:pedido_listar' %}" ">Pedido de Venta</a></li>
				<li role="presentation" class="box-shadow"><a href="{% url 'gen:venta_listar' %}" ">Venta</a></li>
        </ul>        
    </div>
    <div class="col-xs-10">
	
	</div>
</div>
{% endblock content %}
    